<div id="up-to-top" class="row" xmlns="http://www.w3.org/1999/html">
      <div class="small-12 columns" style="text-align: right;">
        <a class="iconfont" href="#top-of-page">&#xf108;</a>
      </div><!-- /.small-12.columns -->
    </div><!-- /.row -->


    <footer id="footer-content" class="bg-grau">
      <div id="footer">
        <div class="row">
          <div class="medium-6 large-5 columns">
            <h5 class="shadow-black">{{ site.data.language.info_website }}</h5>

            <p class="shadow-black">
              {{ site.description }}
              <a href="{{ site.url }}{{ site.baseurl }}/info/">{{ site.data.language.more }}</a>
            </p>
          </div><!-- /.large-6.columns -->


          <div class="small-6 medium-3 large-3 large-offset-1 columns">
            {% for service_item in site.data.services %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">{{ service_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}

              <ul class="no-bullet shadow-black">
              {% for service_item in site.data.services %}
                {% if service_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                  <li {% if service_item.class %}class="{{ service_item.class }}" {% endif %}>
                    <a href="{{ domain }}{{ service_item.url }}" {% if service_item.url contains 'http' %}target="_blank" {% endif %} title="{{ service_item.title }}">{{ service_item.name }}</a>
                  </li>
              {% endfor %}
              </ul>
          </div><!-- /.large-4.columns -->


          <div class="small-6 medium-3 large-3 columns">
            {% for network_item in site.data.network %}
              {% if forloop.first == true %}
                <h5 class="shadow-black">{{ network_item.menu_name }}</h5>
              {% endif %}
            {% endfor %}

            <ul class="no-bullet shadow-black">
            {% for network_item in site.data.network %}
              {% if network_item.url contains 'http' %}{% assign domain = '' %}{% else %}{% capture domain %}{{ site.url }}{{ site.baseurl }}{% endcapture %}{% endif %}
                <li {% if network_item.class %}class="{{ network_item.class }}" {% endif %}>
                  <a href="{{ domain }}{{ network_item.url }}" {% if network_item.url contains 'http' %}target="_blank" {% endif %} title="{{ network_item.title }}">{{ network_item.name }}</a>
                </li>
            {% endfor %}
            </ul>
          </div><!-- /.large-3.columns -->
        </div><!-- /.row -->

      </div><!-- /#footer -->


      <div id="subfooter">
        <nav class="row">
          <section id="subfooter-left" class="small-12 medium-6 columns credits">
            {{ site.credits }}
          </section>

          <section id="subfooter-right" class="small-12 medium-6 columns">
            <ul class="inline-list social-icons">url

              {% assign author = site.data.socialmedia[0] %}
              !!!{{ author.title }}
              
<!--              $${{ site.data.socialmedia | where: "name", "YouTube" }}.url $$-->
<!--              {% assign my_variable = false %}-->
<!--              {% if my_variable != true %}-->
<!--              Hi there!-->
<!--              {% endif %}-->

<!--              {% assign my_variable1 = 'ASDFASDF3' %}-->
<!--              111 {{ my_variable1 }}-->


<!--              {% assign my_variable = 'ASDFASDF' %}-->
<!--              {% capture my_variable %}-->
<!--              {{ site.data.socialmedia | where: "name", "YouTube" }}-->
<!--              {% endcapture %}-->


              {% assign my_variable = site.data.socialmedia | where: "name", "YouTube" | first %}
         

              <br>1. {{ my_variable }}
              </br> 2 {{ my_variable['name'] }}
              </br> 3 {{ my_variable["name"] }}
              </br> 4 {{ my_variable[0] }}
              </br> 41 {{ my_variable[0] }}
              </br> 411 {{ my_variable[0].name }}
              </br> 411 {{ my_variable[0].url }}
              </br> 42 {{ my_variable[1] }}
              </br> 43 {{ my_variable[1] }}
              </br> 5 {{ my_variable.name }}
              </br> 51 {{ my_variable.url }}
              </br> 52 {{ my_variable.title }}
              </br> 6 {{ my_variable.['name'] }}
              </br> 7 {{ my_variable| map: "name" }}
              </br> 7 {{ my_variable| map: "url" }}
              </br> 8 {{ my_variable.content }}
              </br> 9 {{ my_variable.content.url }}
              </br> 88 {{ my_variable.first }}
              </br> 77 {{ my_variable.first.url }}
              </br> 7667 {{ my_variable.first.content }}
              </br> 55 {{ my_variable | first }}
              
              
               {% assign asdf = {{ site.data.socialmedia | where: "name", "YouTube" }} %}
              ~~~{{ asdf.url }}
            {% for social_item in site.data.socialmedia %}
              <li><a href="{{ social_item.url }}" target="_blank" class="{{ social_item.class }}" title="{{ social_item.title }}"></a></li>
            {% endfor %}
            </ul>
          </section>
        </nav>
      </div><!-- /#subfooter -->
    </footer>
