    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <h2>About Delta3Consulting</h2>
              <br/>
				<p>
					Delta3Consulting was founded in 2008 on the pillars of Design, Develop and Deliver.<br>
					The Greek leter Delta represents Change.  <br>
					Lets change how these 3 things are done.<br>
					<!--Why 3? Because it's Dustin's favorite number and birthday, obviously. <br>
					Perhaps it's coincidence that there are 3 people who's names start with the letter D in the Thostenson Family?<br>-->
					Since then there has a been a passionate and persistant focus to apply these principles to the challenges we've faced.<br> 
					There are beter ways of working. You deserve them. You're clients demand them.<br>
					Perhaps your org structure, or app architecture could improve with a more applicable design?<br>
					Maybe your people or technical solutions could be developed. <br>
					Whatever your desires, they deserve to be delivered. <br>
					Discover that which ignites new horizons.<br>
				</p>
				
                <br/>
              </div>
        </div>
		<div class="container ">
		

			</div>
			<hr>
<!--			<h2>Upcoming Events</h2>-->
			</br></br>
<!--			<p>You can find us at the events posted below. If you're interested in scheduling a workshop, training, or would like to have us present at your event, please let us know:-->
<!--			-->
<!--			modelingbetterdecisions@gmail.com-->
<!--				-->
<!--			</p>-->
			</br>
		</div>
		</div>
    </section>
